body {
    position: relative;
  }

:root {
  --container-width-lg: 95%;
  --container-width-md: 95%;
  --container-width-ms: 95%;
}

#hero2 {
  background-image: url("https://i.imgur.com/nQEoxBS.jpg");
  height: 40vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 5px;
}

#hero2 > div > h4 {
  text-align: right;
  position: relative;
  top: 100px;
  right: 100px;
}

 #hero1 {
  /* width: var(--container-width-lg) */
  /* display: flex; */
  /* position: relative; */
  background-color: white;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  text-align: center;
  color: black;
  letter-spacing: 0.1em;
}

#hero{
  /* width: var(--container-width-lg) */
  /* display: flex; */
  position: relative;
  background-color: white;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  letter-spacing: 0.1em;
  text-align: left;
  color: black;
  /* text-shadow: 1px 1px 2px gray; */
}

#hero::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("https://i.imgur.com/0JecAYY.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 30%;
}

/* 
#hero h1 {
  color: white;
} */
 h1, p,button {
  position: relative;
}
#project {
  filter: drop-shadow(3px 3px 4px gray)
}

.card > ul > li {
  border: 0;
  text-align: left;
  letter-spacing: 0em;
}

.card-body {
  text-align: left;
}

.card-body > table {
  text-align: center;
}

#name-logo {
  word-spacing: -0.05em;
}

button {
  min-width: fit-content;
}